<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" type="application/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-default" style="background-color: Grey;">
        <div class="container-fluid">

            <ul class="nav nav-tabs nav-justified">
                <li><a href="Login_Page.html"><css color="#191970"><br><css><b>LOGIN</b></css></br></css></a></li>
                <li><a href="Register.html"><css color="#191970"><br><css><b>REGISTER</b></css></br></css></a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
<div ng-app="login" ng-controller="LoginController">

    <div class="login" align="center"></div><br/>
    <form align="center" action="User_Page.html" class = "navbar-form">
        <div class="input">
            <p><u><css><Strong>Login Here</Strong></css></u></p>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Username</span>
            <input type="text" ng-model = "user.firstName" class="form-control" placeholder="your answer" aria-describedby="basic-addon1">
        </div>
        <br/><br/>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Password</span>
            <input type="password" ng-model = "user.pwd" class="form-control" placeholder="Minimum of 8 Characters " aria-describedby="basic-addon2">
        </div>
        <br/><br/>

        <input type="submit" ng-click="login(user.name, user.pwd)" value="Click to Login" class="btn btn-primary">
        <br/><br/>


    </form>
    <div ng-repeat="login in logins"></div>

</div>
<script>
    var app = angular.module("login", []);
    .controller("LoginController", function($scope){

        $scope.logins = [];
        $scope.login = function (user, pwd) {
            localStorage.setItem("name", user);
            localStorage.setItem("pwd", pwd);

            $scope.logins.push(localStorage.getItem("name") + " was logged in.");
            $scope.logins.push(localStorage.getItem("pwd") + " This is my pwd used to logged in.");
            $location.path('User_Page.html');


        };
    });
</script>
</body>
</html>
